<section class="container py-5">
    <div class="container-fluid pb-3">
        <div class="row">
            <h2 class="h2 text-center col-12 py-5 semi-bold-600">Usuarios por Aprobar</h2>
        </div>
    </div>
    <div class="row projectss gx-lg-5" id="listadoUsuariosDesAprobados">
        <div class="text-center">No hay usuarios por aprobar</div>
    </div>
</section>
<section class="container py-5">
    <div class="container-fluid pb-3">
        <div class="row">
            <h2 class="h2 text-center col-12 py-5 semi-bold-600">Usuarios Aprobados</h2>
        </div>
    </div>
    <div class="row projectss gx-lg-5" id="listadoUsuariosAprobados">
        <div class="text-center">No hay usuarios por aprobar</div>
    </div>
</section>
<script>
    function AprobarUsuario(vId,vEmail) {
        var usuarioData = {
            Id: vId,
            Email: vEmail
        };
        console.log("usuarioData",usuarioData);
        $.ajax({
            type: "Post",
            url: '@Url.Action("AprobarUser","User")',
            data:{
                usuario: usuarioData
            },
            success: function (data) {
                console.log("data",data);
                if (data.code == 200) {
                    alert(data.msg);
                    listar("aprobados");
                    listar("desaprobados");
                } else {
                    alert(data.msg);
                }
            }
        });
    }
    function listar(type){
        var url = "";
        var div = "";
        if(type == "aprobados"){
            url = '@Url.Action("GetUsersAprobados","User")';
            div = "listadoUsuariosAprobados";
        }else if(type == "desaprobados"){
            url = '@Url.Action("GetUsersDesaAprobados","User")';
            div = "listadoUsuariosDesAprobados";
        }
        GetUsers(url,div);
    }
    function GetUsers(urlGet,div) {
        //console.log("urlGet",urlGet);
        //console.log("div",div);
        $.ajax({
            type: "Post",
            url: urlGet,
            success: function (data) {
                if (data.code == 200) {
                    /*alert(data.msg);
                    localStorage.removeItem('PetRescueDBToken');
                    redirectLogin();*/
                    var html = '';
                    $.each(data.data, function(key, value) {
                        //console.log("key",key);
                        //console.log("value",value);
                        html+='<div class="col-sm-6 col-lg-4 text-decoration-none">';
                        html+='<div class="service-work overflow-hidden card mx-5 mx-sm-0 mb-5">';
                        html+='<div class="card-body">';
                        html+='<h5 class="card-title light-300 text-dark">' + value.name + ' ' + value.lastName + '</h5>';
                        html+='<p class="card-text light-300 text-dark">';
                        html+= value.email;
                        html+='</p>';
                        if (div == "listadoUsuariosDesAprobados"){
                            html+='<span onclick=AprobarUsuario("' + value.id + '","' + value.email + '") class="text-decoration-none text-primary light-300">';
                            html+='Aprobar Usuario<i class="bx bxs-hand-right ms-1"></i>';
                            html+='</span>';
                        }
                        html+='</div>';
                        html+='</div>';
                        html+='</div>';
                    });
                    setTimeout(function(){
                        $("#"+div).html(html);
                    },500);
                } else {
                    alert(data.msg);
                }
            }
        });
    }
    listar("aprobados");
    listar("desaprobados");
</script>